{{ form_start(form) }}
   
    <div class="form-group">
    <label for="car-years">Select Year</label>
    <select name="car_year" id="car-years" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="car-makes">Select Make</label>
        <select name="car_make" id="car-makes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="car-models">Select Model</label>
        <select name="car_model" id="car-models" class="form-control"></select>
    </div>
    <div class="form-group">
        {{ form_label(form.file, 'Enter image or video', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control', 'placeholder': 'Image/Video'}}) }}
        {{ form_errors(form.file) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
