{% extends 'base.html.twig' %}

{% block title %}Main index
{% endblock %}

{% block body %}
	{% for main in mains %}
    <div class="main-block">
    {% if main.isVideo %}
        <video class="background-video" autoplay loop muted>
            <source src="{{ asset('uploads/videos/' ~ main.backgroundImage) }}" type="video/mp4">
        </video>
    {% else %}
        <img class="background-image" src="{{ asset('uploads/videos/' ~ main.backgroundImage) }}">
    {% endif %}
        <div class="content">
            <h1>{{ main.titleMain }}</h1>
            <h3>{{ main.optionalContent }}</h3>
            <ul class="structure-list">
            {% for structure in main.structures %}
                <p>{{ structure.contentStructure }}</p>
            {% endfor %}
            </ul>
            <!-- Подключаем библиотеки -->
            <!-- Добавляем элементы для отображения -->
            <select name="car-years" id="car-years"></select>  
            <select name="car-makes" id="car-makes"></select> 
            <select name="car-models" id="car-models"></select>
            
            <input id="cq-show-data" type="button" value="Show Data" />
            <div id="car-model-data"></div>

        </div>
    </div>
{% else %}
    <p>No records found</p>
{% endfor %}


{% endblock %}
