
<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_main_index') }}" style="color:white;">Composants</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_main_index') }}" style="color:white;"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color:white;">Actualité</a>
        </li>

        <li class="nav-item">
            {% if app.user %}
              <a class="nav-link contact" href="" style="color:white;">Contactez nous</a>
            {% else %}
              <a class="nav-link contact" href="{{ path('app_login') }}" style="color:white;">Contactez nous</a>
            {% endif %}
        </li>
      </ul>

      <div class="header-social-links">
        {% if app.user %}
          {% if app.user.opption is same as ('yes') %}
                <i class="fa-solid fa-circle-user" style="color: white"></i>
                <span class="zxfirstname" style="text-decoration:none;">{{ app.user.psuedo|capitalize }}</span>
                <a class="loggouts mr-2" href="{{ path('app_logout') }}">
                  <i class="fa solid fa-power-off" style="color: white"></i>
                </a>
                <a class="zxadmin mr-2" href="{{ path('app_home') }}">
                  <i class="fa fa-circle-play" style="color: white"></i>
                </a>
          {% else %}
                <i class="fa-solid fa-circle-user" style="color: white"></i>
                    <span class="zxfirstname" style="text-decoration:none;">{{ app.user.psuedo|capitalize }}</span>
                    <a class="loggouts mr-2" href="{{ path('app_logout') }}">
                    <i class="fa solid fa-power-off" style="color: white"></i>
                </a>  
          {% endif %}
        {% else %}
            <a class="login" href="{{ path('app_login') }}">
              <i class="fa-regular fa-circle-user" style="color: white"></i>&ensp;
            </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>